<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password Reset</title>
  </head>
  <body
    style='font-family: Arial, sans-serif; background-color: #8b0000; padding: 20px;'
  >

    <div
      style='max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);'
    >

      <h2 style='color: #8b0000;'>Password Reset Request</h2>

      <p>Dear [User's Name],</p>

      <p>We received a request to reset your password for your iDonar account.
        To proceed with the password reset, please use the following
        verification code:</p>

      <p
        style='background-color: #f0f0f0; padding: 10px; border-radius: 5px; font-weight: bold; color: #8b0000;'
      >Verification Code: [Your OTP Code]</p>

      <!--<p>Follow the instructions below to reset your password:</p>-->

      <!--<ol>-->
      <!--    <li>Open iDonar app.</li>-->
      <!--    <li>Click on the "Forgot Password" link.</li>-->
      <!--    <li>Enter the verification code provided above.</li>-->
      <!--    <li>Set a new password for your account.</li>-->
      <!--</ol>-->

      <p>Please note that this code is valid for the next [X minutes]. If you
        haven't initiated this password reset, please ignore this email.</p>

      <p>If you did not request this password reset or have any concerns, please
        contact our support team at [Your Support Email] for assistance.</p>

      <p>Thank you for using iDonar. We're here to help you with a secure and
        convenient experience.</p>

      <p>Best regards,<br />iDonar Team<br />Contact us at [Your Contact
        Information]</p>

    </div>

  </body>
</html>